#### Map() fucntion only applies for RDD, not for DataFrame
- Therefor, if you want to apply for DataFrame, you will conver DataFrame to RDD
- Map function will loop through all element of a RDD or DataFrame, after each loop, it will apply lamda for each row (each element)
- `=> map() return a new RDD when appling it`

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]") \
    .appName("SparkByExamples.com").getOrCreate()

data = ["Project","Gutenberg’s","Alice’s","Adventures",
"in","Wonderland","Project","Gutenberg’s","Adventures",
"in","Wonderland","Project","Gutenberg’s"]

23/02/22 10:23:23 WARN Utils: Your hostname, duc-Inspiron-3471 resolves to a loopback address: 127.0.1.1; using 10.1.124.58 instead (on interface enp1s0)
23/02/22 10:23:23 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
23/02/22 10:23:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [5]:
rdd = spark.sparkContext.parallelize(data)
rdd.collect()

['Project',
 'Gutenberg’s',
 'Alice’s',
 'Adventures',
 'in',
 'Wonderland',
 'Project',
 'Gutenberg’s',
 'Adventures',
 'in',
 'Wonderland',
 'Project',
 'Gutenberg’s']

In [4]:
# adding a new element with value 1 for each element
# => Return RDD is PairRDDFunctions which contains key - value pairs
rdd2 = rdd.map(lambda x: (x, 1))
rdd2.collect()

[('Project', 1),
 ('Gutenberg’s', 1),
 ('Alice’s', 1),
 ('Adventures', 1),
 ('in', 1),
 ('Wonderland', 1),
 ('Project', 1),
 ('Gutenberg’s', 1),
 ('Adventures', 1),
 ('in', 1),
 ('Wonderland', 1),
 ('Project', 1),
 ('Gutenberg’s', 1)]

In [6]:
for e in rdd2.collect():
    print(e)

('Project', 1)
('Gutenberg’s', 1)
('Alice’s', 1)
('Adventures', 1)
('in', 1)
('Wonderland', 1)
('Project', 1)
('Gutenberg’s', 1)
('Adventures', 1)
('in', 1)
('Wonderland', 1)
('Project', 1)
('Gutenberg’s', 1)

#### Map() fucntion only applies for RDD, not for DataFrame
- Therefor, if you want to apply for DataFrame, you will conver DataFrame to RDD

In [7]:
data = [('James','Smith','M',30),
  ('Anna','Rose','F',41),
  ('Robert','Williams','M',62), 
]

columns = ["firstname","lastname","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)
df.show()

+---------+--------+------+------+
|firstname|lastname|gender|salary|
+---------+--------+------+------+
|    James|   Smith|     M|    30|
|     Anna|    Rose|     F|    41|
|   Robert|Williams|     M|    62|
+---------+--------+------+------+

In [8]:
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [12]:
# Refering columns by index
rdd2 = df.rdd.map(lambda x: 
	(x[0] + "," + x[1], x[2], x[3] * 2)                 
)
rdd2.collect()

[('James,Smith', 'M', 60),
 ('Anna,Rose', 'F', 82),
 ('Robert,Williams', 'M', 124)]

In [15]:
df2 = rdd2.toDF(["name", "gender", "double_salary"])
df2.show()

+---------------+------+-------------+
|           name|gender|double_salary|
+---------------+------+-------------+
|    James,Smith|     M|           60|
|      Anna,Rose|     F|           82|
|Robert,Williams|     M|          124|
+---------------+------+-------------+

In [28]:
# refering columns by columns name
rdd3 = df.rdd.map(lambda x: 
	(x["firstname"]+","+x["lastname"],x["gender"],x["salary"]*2)
)
rdd3.collect()

[('James,Smith', 'M', 60),
 ('Anna,Rose', 'F', 82),
 ('Robert,Williams', 'M', 124)]

In [29]:
df3 = rdd3.toDF(["fullname", "gender", "new_salary"])
df3.show()

+---------------+------+----------+
|       fullname|gender|new_salary|
+---------------+------+----------+
|    James,Smith|     M|        60|
|      Anna,Rose|     F|        82|
|Robert,Williams|     M|       124|
+---------------+------+----------+

In [30]:
# by calling function
def get_info(x):
    firstName = x.firstname
    lastName = x.lastname
    name = f'{firstName} {lastName}'
    gender = x.gender.lower()
    salary = x.salary * 2
    return (name, gender, salary)

rdd2 = df.rdd.map(lambda x: get_info(x))
rdd2.collect()

[('James Smith', 'm', 60),
 ('Anna Rose', 'f', 82),
 ('Robert Williams', 'm', 124)]